@charset "UTF-8";

.f1 {
    float: left;
}

.f2 {
    float: right;
}

.clear {
    clear: both;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: blue;
}

.bg-yellow {
    background-color: yellow;
}